table, th, td {
    border: 1px solid blue;
    border-collapse: collapse;
     padding: 15px;
    font-size: 18px;
    font-family: "Arial", sans-serif;
}

#welcome
{
    margin-left: 50px;
    
}
.table1
{
    margin-left: 50px;
}

/*input[type=submit]
{
    margin-top: 30px;
   margin-left: 100px;
    width:100px;
    height: 50px;
}*/

